body {
  border-top: 1px solid #eee;
  overflow: hidden;
}

.modal {
  padding: 1em;
}

.modal input {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  outline: none;
  margin-top: 1em;
}

h2 {
  font-size: 1.2em;
  color: #444;
  margin: 0;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}